Day1\day1_input2.txt
Day1\day1_input.txt
Day2\day2_input.txt
Day2\day2_input2.txt
Day3\day3_input.csv
Day4\day4_input.txt
Day5\day5_input.txt
Day6\day6_input.txt
Day7\day7_input.txt
Day8\day8_input.txt
Day9\day9_input.txt
Day10\day10_input.txt
Day11\day11_input.txt
Day13\day13_input.txt
Day14\day14_input.txt
Day15\day15_input.txt
Day16\day16_input.txt
Day17\day17_input.txt
Day18\day18_input.txt
Day19\day19_input.txt
Day20\day20_input.txt
Day21\day21_input.txt
Day22\day22_input.txt
Day23\day23_input.txt
Day24\day24_input.txt
Day25\day25_input.txt

